* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: black;
    background-image: url('/media/basement.png');
    background-size: 100%;
    background-position:  center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#popup {
    height: 15.2vh;
    width: 25vw;
    border: 1px solid;
    margin-left: 70%;
    font-size: 1.2rem;
    background-color: #BFBFBF;

    display: flex;
    flex-direction: column;
    align-items: center;
}



p{
    margin-top: 10px;
    width: 20vw;
}

/* .invisibleBtn{
    margin-left: 40px;
} */
  #invisiblebtn {
        border: none; /* No border by default */
        background: none; /* Remove background */
        color: transparent; /* Make the text invisible */
        outline: none; /* Remove the outline */
        cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    }

    /* Style for when the button is focused */
    #invisiblebtn:focus {
        outline: none; /* Remove the outline when focused */
    }

    /* Optionally, you can add a border on hover to indicate it's clickable */
    #invisiblebtn:hover {
        border: 1px solid #ccc; /* Add a subtle border on hover */
    }