@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
  
* {
    margin: 0;
    
}

body {
    background-color: black;
    font-family: "Boldonse", system-ui;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15%;
}


.controls {
    margin-top: 20px;
}

button {
    height: 4vh;
    width: 6vw;
    background-color: black;
    border: 1px solid #6C9BD9;
    color: #6C9BD9;
    cursor: pointer;
}

.info {
    background-color: #6C9BD9;
    height: 60vh;
    width: 35vw;
    margin-top: -190px;
    display: none;
}


.svg {
    height: 5vh;
    width: 5vw;
    margin-top: 100px;
}
.svg2 {
    height: 3vh;
    width: 3vw;
}
.img {
    height: 6vh;
    width: 3vw;
}

.top-img {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#x {
    margin-left: 350px;
    margin-top: 10px;
    margin-left: 660px;
    cursor: pointer;
}



#inter {
    margin-top: -50px;
    margin-left: 155px;
}

.interact {
    margin-left: -605px;
    margin-top: 150px;
}

.top-img p {
    color: black;
   font-size: 1rem;
   margin-top: 110px;
}

.movement {
    margin-top: -50px;
}

.text-draw {
    font-size: 3.5rem;
    stroke: #6C9BD9;
    fill: none;
    stroke-width: 1;
    stroke-dasharray: 370;
    stroke-dashoffset: 300;
    animation: draw 2s linear forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

a {
    text-decoration: none;
    color: #6C9BD9;
    margin-top: 50px;
    font-size: 2rem;
}


.popup {
    display: flex;
    flex-direction: row;
}  

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px 0;
}

p {
    text-decoration: none;
    color: #6C9BD9;
    margin-top: 0.25rem;
    font-size: 0.25rem;
}

