* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image: url('/media/basement.png');
    background-size: 100%;
    background-position:  center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.popup {
    height: 15vh;
    width: 25vw;
    border: 1px solid;
    margin-left: 70%;
    font-size: 1.5rem;
    background-color: #BFBFBF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border: 1px solid;
    height: 3vh;
    width: 3vw;
    margin-top: 50px;
    margin-left: 400px;
}

p{
    margin-top: 10px;
}